<div class="container">
  <h2 *ngIf="loading == true">Loading...</h2>
  <div *ngIf="loading == false">
    <div class="message" *ngIf="cartMessage == true">
      <h2>Cart is empty</h2>
    </div>

    <div class="table-wrapper">
      <div class="catalog-table" *ngIf="willCatalogTableShow == true">
        <div class="">
          <table mat-table [dataSource]="dataSourceOfCatalogTable">
            <ng-container matColumnDef="catalog-detail">
              <th mat-header-cell *matHeaderCellDef>
                Catalog Detail
              </th>
              <td mat-cell *matCellDef="let row">
                <div class="detail-with-img">
                  <img
                    class="img"
                    src="../../../assets/images/img.png"
                    alt=""
                  />
                  <span>{{ row.catalogDetail }}</span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>
                Quantity
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  class="cart-update-btn mr-5"
                  mat-flat-button
                  aria-label="Increament Button"
                  (click)="
                    updateNoOfProductsInCart('catalogue', row.id, 'increament')
                  "
                >
                  <mat-icon>add</mat-icon>
                </button>
                {{ row.quantity }}
                <button
                  class="cart-update-btn ml-5"
                  mat-flat-button
                  aria-label="Decreament Button"
                  (click)="
                    updateNoOfProductsInCart('catalogue', row.id, 'decreament')
                  "
                >
                  <mat-icon>remove</mat-icon>
                </button>
                <p class="quantity-bottom-title">Catalog</p>
              </td>
            </ng-container>

            <ng-container matColumnDef="items-per-catalog">
              <th mat-header-cell *matHeaderCellDef>
                Items/Catalog
              </th>
              <td mat-cell *matCellDef="let row">{{ row.itemsPerCatalog }}</td>
            </ng-container>

            <ng-container matColumnDef="price-per-peice">
              <th mat-header-cell *matHeaderCellDef>
                Price/Peice
              </th>
              <td mat-cell *matCellDef="let row">
                Rs. {{ row.pricePerPeice }}
              </td>
            </ng-container>

            <ng-container matColumnDef="stitching">
              <th mat-header-cell *matHeaderCellDef>
                Stitching
              </th>
              <td mat-cell *matCellDef="let row">Rs. {{ row.stitching }}</td>
            </ng-container>
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef>Total</th>
              <td mat-cell *matCellDef="let row">Rs. {{ row.total }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let row">
                <mat-icon
                  class="delete-icon"
                  (click)="removeProductFromCart('catalogue', row.id)"
                  >delete</mat-icon
                >
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumnsOfCatalogTable"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumnsOfCatalogTable"
            ></tr>
          </table>
        </div>
      </div>
      <br />
      <br />
      <div class="item-table" *ngIf="willItemTableShow == true">
        <div class="">
          <table mat-table [dataSource]="dataSourceOfItemTable">
            <ng-container matColumnDef="item-detail">
              <th mat-header-cell *matHeaderCellDef>
                Item Detail
              </th>
              <td mat-cell *matCellDef="let row">
                <div class="detail-with-img">
                  <img
                    class="img"
                    src="../../../assets/images/img.png"
                    alt=""
                  />
                  <span>{{ row.itemDetail }}</span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>
                Quantity
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  class="cart-update-btn mr-5"
                  mat-flat-button
                  aria-label="Increament Button"
                  (click)="
                    updateNoOfProductsInCart('item', row.id, 'increament')
                  "
                >
                  <mat-icon>add</mat-icon>
                </button>
                {{ row.quantity }}
                <button
                  class="cart-update-btn ml-5"
                  mat-flat-button
                  aria-label="Decreament Button"
                  (click)="
                    updateNoOfProductsInCart('item', row.id, 'decreament')
                  "
                >
                  <mat-icon>remove</mat-icon>
                </button>
                <p class="quantity-bottom-title">Item</p>
              </td>
            </ng-container>

            <ng-container matColumnDef="null">
              <th mat-header-cell *matHeaderCellDef>Null</th>
              <td mat-cell *matCellDef="let row"></td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let row">
                Rs. {{ row.price }}
              </td>
            </ng-container>

            <ng-container matColumnDef="stitching">
              <th mat-header-cell *matHeaderCellDef>
                Stitching
              </th>
              <td mat-cell *matCellDef="let row">
                Rs. {{ row.stitching }}
              </td>
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef>Total</th>
              <td mat-cell *matCellDef="let row">
                Rs. {{ row.total }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let row">
                <mat-icon
                  class="delete-icon"
                  (click)="removeProductFromCart('item', row.id)"
                  >delete</mat-icon
                >
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumnsOfItemTable"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumnsOfItemTable"
            ></tr>
          </table>
        </div>
      </div>
    </div>

    <div class="total-cart">
      <div class="coupun">
        <form
          class="form"
          [formGroup]="coupunForm"
          (ngSubmit)="onSubmitCoupun(coupunForm.value)"
        >
          <mat-form-field class="example-full-width">
            <mat-label>COUPUN</mat-label>
            <input matInput type="text" value="" formControlName="coupunCode" />
          </mat-form-field>
          <button class="coupun-submit-btn" mat-raised-button color="accent">
            Discount
          </button>
        </form>
      </div>
      <div class="list">
        <div class="total-catalogues">
          <span class="key">Total Catalogues</span>
          <span class="value"
            >{{ noOfCatalogues }} ({{ noOfItemsInCatalogues }} <small>Items</small>)</span
          >
        </div>
        <div class="total-catalogues">
          <span class="key">Total Items</span>
          <span class="value">{{ noOfItems }}</span>
        </div>
        <div class="total-catalogues">
          <span class="key">Products Total</span>
          <span class="value">{{ productsTotal }} </span>
        </div>
        <div class="total-catalogues">
          <span class="key">Discount</span>
          <span class="value"
            >{{ discountPercentage }}% of {{ productsTotal }}
          </span>
        </div>
        <div class="total-catalogues">
          <span class="key">Tax</span>
          <span class="value">{{ taxAmount }}</span>
        </div>
        <div class="total-catalogues">
          <span class="key">Total Amount</span>
          <span class="value">{{ totalAmount }}</span>
        </div>
        <div class="actions">
          <button mat-raised-button [disabled]="!willCatalogTableShow && !willItemTableShow">Continue Shopping</button>
          <br />
          <button mat-raised-button color="accent" [disabled]="!willCatalogTableShow && !willItemTableShow">Checkout</button>
        </div>
      </div>
    </div>
  </div>
 
</div>

